<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Weather App{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
    <!-- Socket.IO client library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js"></script>
    <!-- Custom Socket.IO handling -->
    <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
    {% block head %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
</body>

</html> 